.DS_Store

# Node.js dependencies
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/
*.swp

# Compiled files
*.class
*.o
*.so
*.out

# Operating System files
Thumbs.db
desktop.ini

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2

# Build outputs
/dist/
/build/
